<!DOCTYPE html>
<html lang='en'>

<head>
	<title>Harry Potter Movies Database</title>
  <link rel="stylesheet" href="../css/style.css">

</head>

<body>
  <div class="content">
    <h2>Update {{location.name}} </h2>
    <form id='update-location' style="background-color:lightgray" action="/locations" method="put">
      <fieldset>
        {{!-- <input type='text' hidden id='id'> --}}
        <div>
          <label>Location Name: </label>
          <input type='text' name='new_location_name' id='location-selector' value="{{location.name}}"  placeholder="location name" required>
        </div>
        <br>

        <div>
          <label for="location-type">Type:</label>
          <select name='new_location_type' id="location-type-selector">
            {{#each locationsTypes}}
            <option value="{{id}}">{{type}}</option>
            {{/each}}
          </select>
        </div>

        </br>
        {{!-- Add onclick functionality --}}
        <button onclick="updateLocation({{location.id}})">Update Location</button>
      </fieldset>
    </form>
    <br>
<script defer>selectLocationType({{location.type}});</script>
{{!-- changed this from selectHouse to selectMascot. The function also changed from selectHouse to selectMascot in the updateFunctions.js--}}
</body> 
</html>